# Base URL of the website (optional)
BASE_URL=""
# Deprecated, use `AI_PROVIDER_API_KEY` instead
POLLINATIONS_AI_API_KEY=""

# AI provider API URL. Default, "https://text.pollinations.ai/openai".
AI_PROVIDER_BASE_URL="https://generativelanguage.googleapis.com"
# AI provider API key (optional)
AI_PROVIDER_API_KEY="AI_PROVIDER_API_KEY"
# AI provider basic model id, Default, "openai"
AI_PROVIDER_DEFAULT_MODEL="openai"
